<!DOCTYPE html>

    <%- include('../partials/head'); %>

        <body class="container">  

            <%- include('../partials/header', {page: 'About'}); %>
        
            <main>
                <div class="jumbotron">
                    <h1>About me</h1>
                    <p>Hi, I'm Daniela Serafim. I'm a developer student.</p>
                </div>
            </main>

            <%- include('../partials/footer'); %>


        </body>


</html>